h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
  }
p {
  color:rgb(0, 0, 0);
  text-align: right;
  font-family: cursive;
  background-color:rgb(23, 126, 23) ;

}
body{
    color:rgb(255, 255, 255);
    text-align:justify;
    font-family: fantasy;
    background-color: rgb(120, 92, 92);

}